@mixin techfont
  font-family: 'Titillium Web', sans-serif

@mixin mainfont
  font-family: 'Tinos', serif

body
  background: white
  background-image: image-url("images/background.jpg")

#sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 260px
  .bkg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: white
    opacity: 0.6
  .inner
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    +techfont

    .credits
      position: absolute
      text-align: center
      width: 260px
      bottom: 0
      padding-bottom: 30px
      left: 0

  h1
    font-size: 20px
    text-align: center

  h2 
    font-size: 16px
    font-weight: bold
    text-align: center
    margin: 20px 0 5px 0

  input, button
    text-align: center
    display: block
    margin: 0 auto
    +mainfont

  .like
    padding: 15px 0 15px 30px

  #fileupload
    display: none

#main
  height: 100%
  margin-left: 260px
  position: relative

  .pic-container
    user-select: none
    width: 890px
    height: 690px
    margin: 30px 30px 5px 30px
    border: 3px solid black
    position: relative
    +mainfont
    overflow: hidden
    .inner
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      .bkg
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: white
        opacity: 0.95

      .image-container
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0

      img 
        height: 100%
        width: auto

      .main-title
        position: absolute
        bottom: 80px
        left: 30px 
        right: 30px
        font-size: 60px
        text-align: center

      .second-title
        position: absolute
        bottom: 30px
        left: 30px
        right: 30px
        font-size: 25px
        text-align: center

  .controls
    width: 890px
    text-align: center
    margin: 10px 0 0 30px

